<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @host.first_name %>,</h1>
    <p>
      Il y a un nouveau participant à ton évènement <%= @event.title %>.
    </p>
    <p>
      Nombre de participants : <%= @event.users.count %>
    </p>
  </body>
</html>
